*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root{
    font-size: 62.5%;

    --color-100:#0ea8dc;
    --color-200:rgba(255, 255, 255, 0.20);
    --color-300:#202024;
    --color-400:#121214;
}

body{
    font-size: 1.6rem;
        
}

#app{
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
}


.container{
    border: 2px solid red;
}


header{
    display: flex;
    align-items: center;
    gap: 2.6rem;

    height: 7.2rem;
    padding: 1.2rem 2.8rem;

    background-color: var(--color-100);
}

section img{
    max-width: 100%;
}

